@using CoreDemo.Entities.Concrete
@model List<Category>
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Kategori Adı</th>
        <th>Kategori Açıklama</th>
        <th>Durumu</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td>@item.CategoryDescription</td>
            <td>@item.CategoryStatus</td>
        </tr>
    }
</table>